.form {
  width: 700px;
  background: rgba(255, 255, 255, 0.36);
  background-image: 
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;

  /* From https://css.glass */
  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 800ms ease-in-out;
}

.btn-custom {
  background-color: rgb(154, 146, 243);
  color: rgb(32, 19, 79);
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;

}

input {
  border: none;
}

.btn-custom:hover {
  background-color: rgb(189, 199, 255);
  color:rgba(34, 101, 153, 0.933);
}

.instruction {
  font-size: 9px;
  color:rgb(250, 246, 215)
}