.bounding-box-outer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bounding-box {
  position: absolute;
  border: 2px solid rgb(191, 206, 245);
  border-bottom: 2px solid rgb(137, 255, 52);
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.123);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.bounding-box:hover {
  background-color: rgba(195, 129, 60, 0.042);
}

.celebrity-name {
  position: relative;
  font-size: 8px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.708);
  height: 8px;
}