.bounding-box {
  position: absolute;
  border: 2px solid rgb(242, 245, 191);
  border-bottom: 2px solid rgb(217, 255, 190);
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.123);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-box-pack: center;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bounding-box:hover {
  background-color: #403c52d9;
  transition: all 500ms ease-in-out;
  z-index: 3;
  transform: scale(2.5);
}
.bounding-box:hover .celebrity-name {
  visibility: visible;
  transition: all 100ms ease-in-out;
  background-color: rgb(247, 241, 190);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.celebrity-name {
  font-size: 10px;
  font-weight: 500;
  background-color: rgba(247, 241, 190, 0);
  height: auto;
  visibility: hidden;
  transition: all 100ms ease-in-out;
  color: black;
  width: 100%;
}

/* .face-description-div {
} */

.prediction-percentage-value {
  font-weight: 800;
  color: rgb(255, 250, 155);
  visibility: hidden;
  font-size: 12px;
  margin: 0;
}

.prediction-percentage {
  font-size: 9px;
  visibility: hidden;
}

.bounding-box:hover .prediction-percentage-value, .bounding-box:hover .prediction-percentage {
  visibility: visible;
}