.Tilt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: rgba(236, 232, 238, 0.231);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border: 1px solid rgba(80, 88, 246, 0.718);
  
}

.inner-tilt img {
  width: 120px;
}

.logo-div {
  width: 152px;
  /* box-shadow: rgba(184, 228, 253, 0.571) 0px 1px 2px; */
}

.logo-div:hover {
  cursor: pointer;
}

.logo-div:hover .Tilt {
  border-radius: 100px;
  background: rgba(245, 247, 252, 0.846);
  border: none;
}
