.navbar {
  background: rgba(236, 232, 238, 0.122);
  backdrop-filter: blur(3.5px);
  margin-bottom: 90px;
  justify-content: space-between;
}

.navbar p {
  margin: 3px 0 3px 0;
}

.navbrain-logo {
  width: 80px;
  margin: 10px;
}

.user-div {
  display: flex;
  align-items: center;
}

/* Button */
.user-btn {
  border-radius: 12px;
  backdrop-filter: blur(3.5px);
  box-shadow: rgba(175, 205, 246, 0.603) 8.95px 8.95px 1px;
}

.login-btn {
  background-color: rgba(240, 248, 255, 0.631);
}

.reg-btn {
  background-color: rgba(214, 204, 255, 0.433);
}