#footer {
  background-color: #19191ad1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-top: 70px;
}

#footer h4 {
  font-weight: 700;
  font-size: 30px;
  color: rgb(255, 253, 218);
  margin: 20px;
}

.links-div {
  align-self: center;
  margin: 20px;
}

.links-div a {
  font-size: 12px;
  margin: 8px;
  color: white;
}

.credit-span a {
  color: white;
}

.links-div a:hover, .credit-span a:hover  {
  color: rgb(161, 159, 255);
}
