#footer {
  background-color: #19191ad1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#footer h4 {
  font-weight: 700;
}

.links-div {
  align-self: center;
}

.links-div a {
  font-size: 12px;
  margin: 8px;
  color: white;
}

.credit-span a {
  color: white;
}