.img-specs {
  height: auto;
  width: 434px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 4px;
}

.img-backdrop {
  box-shadow: rgba(170, 163, 206, 0.24) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
  background-color: rgba(243, 236, 236, 0.045);
  backdrop-filter: blur(5px);
  margin: 10px;
}

#inputimage {
  transition: all 900ms ease-in-out;
}

.bounding-box-list {
  transition: all 700ms ease-in-out;
}